body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mt2{
  margin-top: 2rem;
}

.listElement{
  margin-bottom: 1rem;
}

.listElement label{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.mainContainer{
  min-height: 76vh;
}

.page-footer{
  position: relative;
  margin-top: auto;
  display: flex;
}

.wordBreak{
  word-wrap: break-word;
}
